.btn {
  background: var(--purple);
  color: var(--white);
  font: var(--button);
  padding-inline: 24px;
  padding-block: 13px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  text-align: center;
}

.btn.is-secondary {
  background: none;
  border: 2px solid var(--purple);
  color: var(--purple);
}
