.testimony {
  padding-block-start: 40px;
  padding-block-end: 40px;
}

.testimony-title {
  background: var(--purple);
  color: var(--white);
  font: var(--headline5);
  align-self: flex-start;
  padding-block: 4px;
  padding-inline: 8px;
  box-shadow: -4px 4px 0 var(--white);
}

.testimony-img img {
  max-inline-size: 100%;
}

.testimony-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .testimony {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-block: 5rem;
  }

  .testimony-description {
    flex: 1;
  }

  .testimony:nth-of-type(5) .testimony-img {
    order: 2;
    flex: 1;
    text-align: center;
  }
}
